.formstyle {
  padding-top: 20px;
  border: (255,0,0);
  padding-bottom: 20px;
  margin: 20px;
}
input[type="text"],
input[type="number"],
input[type="email"] {
  border:(128,128,128);
}
textarea.form-control {
  border: (128,128,128);
}
button.btn.btn-primary {
  text-align: center;
}
